<div class="tab" id="distributor">
    <table id="user">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Contact</th> 
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <!-- add rows as needed -->
        </tbody>
    </table>
</div>