<div class="tab" id="buycrop">
    <table id="user">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Crop Quantity</th>
                <th>Distributor</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <!-- add rows as needed -->
        </tbody>
    </table>
</div>